{% extends 'base.html' %}

{% block content %}
<div>
    {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            {% for category, message in messages %}<div>{{ message }}</div>{% endfor %}
          {% endif %}
        {% endwith %}
    <h1>Categories</h1>
    {% if categories %}
        {% for category in categories %}
            <hr>
            <p>Category ID: {{ category.id }}</p>
            <p>Category name: {{ category.name }}</p>
            <a href="{{url_for('notes',category_id=category.id)}}"><button class="btn btn-info">Notes</button></a>
            <a href="{{url_for('update_category', category_id = category.id)}}"><button class="btn btn-warning">Update category</button></a>
            <a href="/delete/{{category.id}}"> <button class="btn btn-danger">Delete</button> </a>
            <hr>
        {% endfor %}
        {%else%}
        <p>No Categories yet</p>
     {% endif %}
     
</div>
<div class="content-section">
    <form method="post" action="#">
    {{ form.hidden_tag() }}
    <fieldset class="form-group">
        <legend class="border-bottom mb-4">Add New Category</legend>
    <div class="form-group">
        {{ form.name.label (class="form-control-label") }}
        {{ form.name (class="form-control form-control-lg")}}
    </div>
    {{ form.submit (class="btn btn-secondary")}}
    </form>

    <div>
        <form method="POST" action="{{url_for('search')}}">
            {{form.hidden_tag()}}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Search for a Note by Note name</legend>
            <input type="search" placeholder="Enter value" name="searched" class="form-control form-control-lg">
            <button type="submit" class="btn btn-secondary">Search</button>
        </form>
    </div>
</div>
{% endblock  %}
